header {
    width: 100%;
    background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url(./images/shop.jpg) no-repeat;
    text-align: center;
    background-blend-mode: multiply;
    background-size: cover;
    height: 280px;
    padding: 50px;
    color: white;
    border-radius: .35em;
}
header p{
    font-size: 18px;
}
h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    line-height: .65;
    margin-bottom: 0;
  }
 .form{
     width: 45%;
     margin: 50px auto;
 }

 .form input{
     width: 40%;
 }