* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #1a1818;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  min-height: 830px;
}

.App {
  width: 100%;
  max-width: 1000px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #fcfcfc;
  opacity: 1;
  overflow: hidden;
  box-shadow: 0 0 26px rgba(0, 0, 0, .13);

}
.glyphicon.glyphicon-user{
  text-align: center;
}
.glyphicon.glyphicon-plus-sign{
  font-size: 30px;
}

.form-dashboard input {
  border: none;
  outline: none;
  border-bottom: #eee 0.5px solid;
}
.form-dashboard input[type=text] {
  padding: .2em;
  height: 60px;
}
.btn-circle {
	/* position:fixed; */
	width:60px;
	height:60px;
	background-color:rgb(50, 121, 252);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #fff;
	margin-top:22px;
}
.user{
  font-size: 60px;
}